<p>Hey </p>
<p>Confirm your email address</p>
<p>
    Your verification code is: {{ otp }}
</p>

<p>We’re glad to have you onboard! You’re already on your way to creating beautiful crypto wallet.</p>

<p>Whether you’re here for your brand, for a cause, or just for fun — welcome! If there’s anything you need, we’ll be here every step of the way.
</p>

<p>Thanks,</p>
<p>Alpha Team</p>

